<% include ../partials/top.ejs %>

        <!-- About Section -->
    <section id="shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Shop</h2>
                </div>
            </div>
            
            <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Latest Products</h3>
            </div>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature thumb">
                <div id="target" class="thumbnail">
                    <img class="img-responsive imageSize pointer" src="https://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-cart">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature thumb">
                <div id="target" class="thumbnail">
                    <img class="img-responsive imageSize pointer" src="https://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-cart">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature thumb">
                <div id="target" class="thumbnail">
                    <img class="img-responsive imageSize pointer" src="https://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-cart">Add to Cart</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 hero-feature thumb">
                <div id="target" class="thumbnail">
                    <img class="img-responsive imageSize pointer" src="https://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-cart fa fa-shopping-cart"></a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    </section>
    <% include ../partials/bottom.ejs %>